<div class="container-fluid">
	<form>
		<div class="alert alert-success alert-dismissible" role="alert"
			ng-show="addSuccess">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			Saved {{resource}}
		</div>
		<div class="alert alert-danger alert-dismissible" role="alert"
			ng-show="addError">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			Error Saving {{resource}}
		</div>

		<div class="row">
			<div class="form-group col-xs-6">
				<h2>Place Details</h2>
			</div>
			<div class="form-group col-xs-6">
				<button type="button" class="btn btn-lg btn-primary pull-right"
					aria-label="Left Align" ng-click="save()">  
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
				</button>
			</div>

		</div>

		<div class="well">
			<div class="row">

				<div class="form-group col-xs-12">
					<input type="text" class="form-control input-lg" placeholder="Name"
						ng-model="data.name">

				</div>
			</div>

			<div class="row">

				<div class="form-group col-xs-12">
					<input type="text" class="form-control input-lg" placeholder="Type"
						ng-model="data.type">

				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-12">
					<input type="text" class="form-control input-lg"
						placeholder="Location" ng-model="data.location">

				</div>

			</div>

			<div class="row">
				<div class="form-group col-xs-12">
					<input type="text" class="form-control input-lg"
						placeholder="Neighborhood" ng-model="data.neighborhood">

				</div>
			</div>
			<div class="row">

				<div class="form-group col-xs-12">
					<input type="text" class="form-control input-lg" placeholder="City"
						ng-model="data.city">

				</div>
			</div>
			<div class="row">

				<div class="form-group col-xs-12">
					<input type="text" class="form-control input-lg"
						placeholder="State" ng-model="data.state">

				</div>
			</div>
			<div class="row">

				<div class="form-group col-xs-12">
					<input type="text" class="form-control input-lg"
						placeholder="Country" ng-model="data.country">

				</div>

			</div>
		</div>

		<h3>Features</h3>
		<div class="well">

			<div class="row">


				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Category</th>
							<th>Value</th>
							<th></th>
						</tr>
					</thead>
					<tbody>

						<tr ng-repeat="item in data.features">

							<td><input type="text" class="form-control input-lg"
								placeholder="Name" ng-model="item.name"></td>
							<td><input type="text" class="form-control input-lg"
								placeholder="Category" ng-model="item.category"></td>
							<td><input type="text" class="form-control input-lg"
								placeholder="Value" ng-model="item.value"></td>
							<td><button type="button" class="btn btn-default btn-lg"
									ng-click="deleteFeature($index)" aria-label="Left Align">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="form-group col-xs-12 col-xs-offset-9">
					<button class="btn btn-lg btn-default" ng-click="addFeature()">Add
						Feature</button>
				</div>
			</div>
		</div>
	</form>

</div>
