<div class="container-fluid">

	<form class="form-horizontal" ng-submit="search()">
	
		<div class="row">

			<div class="form-group col-xs-2">

				<select ng-model="searchField" class="form-control input-lg">
					<option value="" selected disabled>Search by</option>

					<option ng-repeat="field in fields" value="{{field.key}}"
						ng-bind="field.val"></option>
				</select>

			</div>
			<div class="form-group col-xs-8">
				<input type="text" class="form-control input-lg"
					ng-model="searchText">
			</div>
			<div class="form-group col-xs-2">
				<button type="submit" class="btn btn-default btn-lg">Search</button>
			</div>

		</div>

		<div class="row" ng-show="places">
			<div class="form-group col-xs-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Neighborhood</th>
							<th>City</th>
							<th>State</th>
							<th>Country</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in places | orderBy:'name'" ng-click="update(item.id)" ng-class="{selected: item.id === idSelectedItem}">
							<td>{{item.name}}</td>
							<td>{{item.type}}</td>
							<td>{{item.neighborhood}}</td>
							<td>{{item.city}}</td>
							<td>{{item.state}}</td>
							<td>{{item.country}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row" ng-show="features">
			<div class="form-group col-xs-12">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Name</th>
						<th>Category</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in features | orderBy:'name'" ng-click="update(item.id)" ng-class="{selected: item.id === idSelectedItem}">
						<td>{{item.name}}</td>
						<td>{{item.category}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	</form>

</div>