<div class="container-fluid">

	<form class="form-horizontal" ng-submit="search()">

		<div class="row">

			<div class="col-xs-3">

				<select ng-model="searchField" class="form-control input-lg">
					<option value="" selected disabled>Search by</option>

					<option ng-repeat="field in fields" value="{{field.key}}"
						ng-bind="field.val"></option>
				</select>

			</div>
			<auto-complete suggestions="suggestions" search-text="searchText"></auto-complete>
			<div class="col-xs-3">
				<button class="btn btn-default btn-lg"
					aria-label="Left Align" type="submit">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					Search
				</button>
			</div>



		</div>
	</form>

	<div class="row" ng-show="places">
		<div class="form-group col-xs-12">
			<table class="table table-striped" fixed-header table-height="650px">
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Neighborhood</th>
						<th>City</th>
						<th>State</th>
						<th>Country</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in places | orderBy:'name'"
						ng-click="view(item.id)"
						ng-class="{selected: item.id === idSelectedItem}">
						<td>{{item.name}}</td>
						<td>{{item.type}}</td>
						<td>{{item.neighborhood}}</td>
						<td>{{item.city}}</td>
						<td>{{item.state}}</td>
						<td>{{item.country}}</td>
					</tr>

				</tbody>
				<tfoot>
					<tr>
						<td colspan="6">
							<button type="button"
								class="btn btn-primary col-xs-12  btn-lg"
								style="width: 530px;" aria-label="Left Align" ng-click="add()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Place
							</button>
						</td>

					</tr>
				</tfoot>
			</table>

		</div>

	</div>

	<div class="row" ng-show="features">
		<div class="form-group col-xs-12">
			<table class="table table-striped" fixed-header table-height="650px">
				<thead>
					<tr>
						<th>Name</th>
						<th>Category</th>
						<th>Value</th>						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in features | orderBy:'name'"
						ng-click="view(item.id)"
						ng-class="{selected: item.id === idSelectedItem}">
						<td>{{item.name}}</td>
						<td>{{item.category}}</td>
						<td>{{item.value}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>
							<button type="button"
								class="btn btn-primary col-xs-offset-1  btn-lg"
								style="width: 530px;" aria-label="Left Align" ng-click="add()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Feature
							</button>
						</td>

					</tr>
				</tfoot>
			</table>
		</div>
	</div>


</div>